@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Honk:MORF@15&family=Lora:ital,wght@0,400..700;1,400..700&family=Luckiest+Guy&family=Manrope:wght@200..800&family=Modak&family=Oi&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

.logo{
    position: relative;
    width:89px;
}

nav{
    background-color: #F4F5F7;
    box-shadow: 0 2px 8px rgba(0,0,0,0.20);
    display:flex;
    margin:10px;
    padding: 10px;
    border-radius: 25px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    position:sticky;
    
}

nav a{
    text-decoration: none;
    color:#2C2C2C;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.nav-links{
    display:flex;
    justify-content:space-around;
    width: 37%;
    align-items:center;
    position: absolute;
    right: 10px;
    top: 17px;    
}

nav a:hover{
    background-color: #163B5C;
    color:#fff;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

/* HERO SECTION */
.hero-section{
    display:flex;
    background-color: rgb(232, 238, 238);
    position: relative;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.20);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 10px;
}

.hero-section h1{
    font-size: 50px;
    width: 82%;
    padding:40px 40px 10px 40px;
}

.hero-para{    
    margin-left: 100px;
    width: 61%;
    margin-top: 79px;
}

.hero-para p{
    width: 51%;
    padding:0px 40px 40px 40px;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
}

.hero-para mark{
    border-radius: 20px;
    padding: 5px;
}

.hero-image{
    width: 45%;
    /* background-color:#dddbdb; */
    border-radius: 25px;
    margin-right: 100px;
}

.hero-image:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.hero-button{
    position: absolute;
    top: 75%;
    left: 10%;
    padding:10px;
    border-radius: 10px;
    border: none;
    background-color: #163B5C;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.hero-button:hover{
    box-shadow: 0 2px 8px #1383e6;
    background-color: #156ac6;
    color:#ffffff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
}

/*Featured Vehicles Section*/

.featured-vehicles{
    padding: 48px;
    margin: 10px;
    border-radius: 20px;
}

.featured-card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.feature{
    flex: 1;
    background-color: #F4F5F7;
    border: 4px solid rgb(234, 231, 231);
    padding: 10px;
    margin-top: 37px;
    border-radius: 10px;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    transition: all 0.4s ease-in-out;
}

.feature:hover{
    flex: 1.3;
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.feature img{
    width: 96%;
    padding: 10px;
    border-radius: 10px;
}

.feature h2{
    font-size: 35px;
}

.feature h3,
.feature h4{
    padding: 10px;
    font-size: 20px;
}

.feature-btn{
    width: 100%;
    padding: 15px;

    border: none;
    border-radius: 10px;

    background-color: #163B5C;
    color: #FFFFFF;

    font-family: "Outfit", sans-serif;
    font-weight: 600;

    transition: 0.3s ease-in-out;
}

.feature-btn:hover{
    background-color: #156AC6;
    box-shadow: 0 2px 8px #1383E6;
    cursor: pointer;
}


